<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @payment_way.nombre %>
</p>

<%= link_to 'Edit', edit_payment_way_path(@payment_way) %> |
<%= link_to 'Back', payment_ways_path %>
