<p id="notice"><%= notice %></p>

<p>
  <strong>Descuento porcentaje:</strong>
  <%= @discount.descuento_porcentaje %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
